---
layout: default
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>

  <title>Primerjava vremena na destinaciji</title>

  <style>

  </style>
</head>

<body>

  <main class="weather-form">
    <h1>Check historic weather data</h1>

    <div id="disclaimer">
      *The following historic data are for informative use only and can't be used as fortune-telling device for future weather conditions. Any decisions based on these data is your own responsibility. 
    </div>  
    <br>

    <form id="destination-form">

      <div class="form-group">
        <label for="destination">Destination</label>

        <input
          type="text"
          id="destination"
          name="destination"
          placeholder="E.g.: Ljubljana, Slovenia"
          required
        >
      <div id="map" style="height: 400px; width: 100%;"></div>  
      </div>

      <div class="form-group">
        <label for="selected-date">Select a date</label>

        <input
          type="date"
          id="selected-date"
          name="selectedDate"
          required
        >
      </div>

      <button type="submit">Check weather</button>
    </form>
    

    <section id="selection-summary" hidden>
        <h2>Historical weather data</h2>

        <div class="summary-grid">
          <div class="summary-item">
            <span class="summary-label">Destination:</span>
            <span id="selected-destination" class="summary-value"></span>
          </div>

          <div class="summary-item">
            <span class="summary-label">Date:</span>
            <span id="displayed-date" class="summary-value"></span>
          </div>

          <div class="summary-item weather-main">
            <span class="summary-label">Weather:</span>
            <span id="hist_weather_code" class="weather-icon"></span>
          </div>

          <div class="summary-item">
            <span class="summary-label">Maximum temperature:</span>
            <span id="max_temperature" class="summary-value"></span>
          </div>

          <div class="summary-item">
            <span class="summary-label">Minimum temperature:</span>
            <span id="min_temperature" class="summary-value"></span>
          </div>
        </div>
    </section>
  </main>

  
<script type="module" src="{{ '/assets/js/historic_weather.js' | relative_url }}"></script>
</body>
</html>
